@import '../../css/styles.scss';


.btn {
    width: fit-content;
    height: fit-content;
    padding: 15px 35px;
    border-radius: 30px;
    font-size: 1.3em;
    border: 1.5px solid $dark-green;
    background-color: $dark-green;
    color: $light-shine;
    transition: 250ms ease-in;
    
    &:hover{
        box-shadow: 1px 5px 5px #213f3b;
    }
}