.background{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    position: absolute;

    .top {
        display: flex;
        justify-content: flex-start;
        width: fit-content;
        height: 100vh;
        position: absolute;

        img {
        height: 70%;
        }
    }
        
    .bottom {
        display: flex;
        height: 100vh;
        justify-content: flex-end;
        align-items: end;

        img {
        height: 80%;
        }
    }
}
  

@media screen and (max-width: 1460px) {
    .background{
        .top {
            
            img{
                height: 60%;
            }
        }

        .bottom {
            img{
                height: 70%;
            }
        }
    }
}

@media screen and (max-width: 1320px) {
    .background{
        .top {
            
            img{
                height: 50%;
            }
        }

        .bottom {
            img{
                height: 60%;
            }
        }
    }
}

@media screen and (max-width: 1120px) {
    .background{
        .top {
            
            img{
                height: 40%;
            }
        }

        .bottom {
            img{
                height: 50%;
            }
        }
    }
}