// Os nomes das variáveis são as mesmas do figma

// Cor de contraste principal
$dark-green: #33605A;
// Cor de hover e click
$light-green: #91A398;
// Cor do desenho de fundo
$super-light-green: #D5D8C9;

// Não usamos essa cor
$light: #E9E0D1;
// Background e cor de algumas fontes
$light-shine: #F9F4E3;

// Cor da maioria das fontes
$dark-brown: #68462B;
// Cor dos placeholders
$light-brown: #7A6448;

// Vermelho para o apagar e o cancelar
$red-highlight: #C34D4B;

$white: #fff;
