// Aqui ficam as estilizações globais do site - APAGAR ESSE COMENTÁRIO ANTES DO COMMIT FINAL

@import '_colors.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    
  background-color: #F9F4E3;
}

.border{
    border: 1px solid red;
}
