@import '../../../css/styles.scss';

.editEmployeePage {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;

    .editEmployee {
        width: fit-content;
        height: fit-content;
        display: flex;
        margin: auto;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 45px;
        border-radius: 30px;
        background-color: #f9f4e33d;
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
        backdrop-filter: blur( 13.5px );
        -webkit-backdrop-filter: blur( 13.5px );
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        color: $dark-brown;
    
        .inputsEditEmployee{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background-color: transparent;
            width: 400px;
            padding: 20px 0 20px 0;
            }

        .btnsEditEmployee{
            padding: 10px;
            display: flex;
            gap: 10px;
        }
    }
}

@media screen and (max-width: 768px) {

    .editEmployeePage{
        
        .editEmployee{
            width: 100vw;
            min-height: 100vh;
            border-radius: 0px;
        }
    }

}

@media screen and (max-width: 400px) {
    .editEmployeePage{
        
        .editEmployee{
            width: 100vw;
            min-height: 100vh;
            border-radius: 0px;

            .btnsEditEmployee {
                flex-direction: column-reverse;
            }
        }
    }
}