@import '../../css/styles.scss';


.navbar {
    background-color: $dark-green;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 84px;
    overflow: hidden;
    
    h2 {
        color: $light;
        font-weight: 200;
        display: none;
    }
    
    .nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        width: 95%;
        background-color: transparent;

        .nav-item{
            padding: 5px 0 5px 0;
            border-radius: 10px !important;
            margin: 0 1px 0 1px;
            overflow: hidden;
            color: $light;

            img {
                width: 30px;
            }
        }
    
        .nav-item:hover {        
            a {
                background-color: $light;
                color: $dark-green;
            }
        }

        .nav-items-left, .nav-items-right {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 5px;

            a {
                background-color: $dark-green;
                color: $light;
                text-decoration: none;
                padding: 15px !important;
                font-size: 18px;
            }
        }

        .css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
            min-height: auto;
            width: 100px;
        }
    
        button {
            background-color: $dark-green;
            color: $light;
            text-decoration: none;
            padding: 15px !important;
            font-size: 18px;
        }

        .nav-close-btn img {
            width: 30px;
        }

    }
    
    .nav-btn {
        padding: 5px;
        cursor: pointer;
        background-color: transparent;
        border: none;
        outline: none;
        display: none;
        align-items: center;
    }
    
    .nav-open-btn img {
        width: 30px;
    }

    
}

// Móvel: 360 x 640.
// Móvel: 375 x 667.
// Móvel: 360 x 720.
// iPhone X: 375 x 812.
// Pixel 2: 411 x 731.
// Tabuleiro: 768 x 1024.
// Portátil: 1366 x 768.
// Laptop ou desktop de alta resolução: 1920 x 1080.


@media screen and (max-width: 804px){
    .navbar{
        justify-content: space-between;
        padding: 25px;

        h2 {
            display: flex;
        }
        
        .nav {
            position: fixed;
            top: -100vh;
            left: 0;
            height: 30%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1.5rem;
            background-color: $dark-green;
            transition: 1s;
    
            .nav-items-left, .nav-items-right {
                padding: 10px;

            }

            .nav-item {
                padding: 10px 0 10px 0;
            }

        }

        .nav-btn {
            display: flex;
        }

        .nav-close-btn{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            top: 2rem;
            right: 2rem;
        }
    
        .responsive_nav{
            transform: translateY(100vh);
        }

        .no-responsive {
            display: none;
        }
    }
}

@media screen and (max-width: 456px){
    .navbar {

        .nav{
            height: fit-content;
            z-index: 1;
            gap: .1em;

            .nav-items-left, .nav-items-right {
                padding: 5px;
                flex-direction: column;
            }
        }
    }
}